.cheat-page {
  width: 100%;
  background-image: url(../images/notfound.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cheat-page__wrapper {
  display: flex;
  flex-direction: column;
}
.cheat-page__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
  margin: 144px auto 203px;
}
.cheat-page__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 19px;
  color: #35b18e;
}
.cheat-page__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c2c6d7;
}
.cheat-page-box {
  max-width: 1079px;
  width: 100%;
  display: flex;
  gap: 20px;
}
.cheat-page__top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cheat-page__left {
  width: 645px;
  display: flex;
  flex-direction: column;
}
.cheat-page__left-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cheat-page__left-full {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  background: #35b18e;
}
.cheat-page__left-box {
  width: 135px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cheat-page__left-small {
  width: 100%;
  height: 76px;
  border-radius: 8px;
  background: #35b18e;
}
.cheat-page__left-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #35b18e;
}
.cheat-page__text {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  max-width: 589px;
}
.cheat-page__paragraph {
  font-weight: 400;
  color: #c2c6d7;
  font-size: 14px;
  line-height: 19px;
  margin-top: 33px;
}
.cheat-page__button {
  margin-top: 43px;
  width: 216px;
  height: 37px;
  border-radius: 8px;
  background: linear-gradient(118.86deg, #37aa8a 28.8%, #00b07f 67.77%);
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  color: #ffffff;
}
.cheat-page__right {
  width: 379px;
  height: 352px;
  border-radius: 8px;
  background: linear-gradient(0deg, #19191d, #19191d),
    linear-gradient(
      180deg,
      rgba(0, 190, 136, 0.5) 0%,
      rgba(0, 190, 136, 0) 100%
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.type-form {
  margin-top: 8px;
}
.price-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.price-box-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #35b18e;
}
.price-box-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #35b18e;
}
.price-box-subtext {
  color: #c2c6d7;
  align-self: flex-start;
  margin-top: 5px;
}
.price-box-buttons {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #16171e;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 17px;
}
.price-button {
  width: 83px;
  height: 40px;
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.price-button.active {
  background: #23242d;
}
.price-button:hover {
  background: #23242d73;
}
.cheat-page-rezalt {
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 13px;
}

.cheat-page-rezalt span {
  color: #00cd94;
  margin-left: 1px;
}
/* .cheat-page-box {
  max-width: 985px;
  width: 100%;
  display: flex;
  gap: 20px;
}
.cheat-page__left {
  max-width: 586px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cheat-page__top {
  width: 100%;
  display: flex;
  gap: 20px;
}
.cheat-page__full {
  width: 431px;
  height: 243px;
  border-radius: 8px;
  background: #35b18e;
  cursor: pointer;
}
.cheat-page__list-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.cheat-page__small {
  width: 135px;
  height: 76px;
  border-radius: 8px;
  background: #35b18e;
}
.cheat-page__top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cheat-page__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 19px;
  color: #35b18e;
}
.cheat-page__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c2c6d7;
}
.cheat-page__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.cheat-page__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #35b18e;
}
.cheat-page__description {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #c2c6d7;
}
.cheat-page__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 37px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  border-radius: 8px;
  color: #ffffff;
  background: linear-gradient(118.86deg, #37aa8a 28.8%, #009168 67.77%);
}
.cheat-page__right {
  width: 379px;
  height: 348px;
  border-radius: 8px;
  background: linear-gradient(0deg, #19191d, #19191d),
    linear-gradient(
      180deg,
      rgba(0, 190, 136, 0.5) 0%,
      rgba(0, 190, 136, 0) 100%
    );
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  align-items: center;
  box-sizing: border-box;
}
.cheat-page__right-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #35b18e;
}
.cheat-page__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cheat-page__right-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.left {
  align-self: flex-start;
} */
/******/
/* .slider-container {
  width: 340px;

  background: transparent;
  border-radius: 5px;
}

.slider-value {
  text-align: center;
  margin-top: 4px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 27.5px;
} */
/* input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #3dffc8 0%, #00ffb7 50.16%);
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  background-image: linear-gradient(to right, #3dffc8 0%, #00ffb7 100%);
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(141.07deg, #00be88 8.59%, #286151 100%);
  cursor: pointer;
} */
.slider-container-line {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
.slider-line {
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: #89ffd5;
  position: relative;
}
.slider-line::before {
  position: absolute;
  content: url(../icons/line.svg);
  width: 3px;
  height: 6px;
  bottom: 4px;
  left: 20px;
}
/******input******/
.range-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range {
  -webkit-appearance: none;
  border: none;
  width: 312.49px;
  height: 6px;
  outline: none;
  border-radius: 6px;
  background: -webkit-linear-gradient(
    left,
    #93ffe0 0%,
    #00be88 5%,
    #313137 25%,
    #313137 100%
  );
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: linear-gradient(141.07deg, #00be88 8.59%, #286151 100%);
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
}
.cheat-page__box-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
/********/
.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1px solid #35b18e;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 17px;
}

.custom-radio-btn::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #00be88;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-radio-btn:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}
.real-radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.form-group {
  width: 165px;
  height: 49px;
  border-radius: 8px;
  background: #101115;
  padding: 16px 19px;
  box-sizing: border-box;
}
.form-group label {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.custom-radio-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.cheat-page__purch {
  width: 340px;
  height: 37px;
  border-radius: 8px;
  margin-top: 21px;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  margin-top: 14px;
  background: linear-gradient(180deg, #37aa8a 0%, #00553d 100%);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.cheat-page__purch:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/************************/
.range {
  position: relative;
  width: 100%;
  height: 5px;
}
.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
  background: #00ffb7;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #00ffb7;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #00ffb7;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #00ffb7;

  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}
/* .range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
} */
.range-labels .active {
  color: #00ffa4;
}
.range-labels .selected::before {
  background: linear-gradient(90deg, #3dffc8 0%, #00ffb7 50.16%);
}
.range-labels .active.selected::before {
  display: none;
}
