.personal {
  width: 100%;
}
.personal__form-box {
  height: 366px;
}

.personal__form-left {
  padding: 40px 30px;
}
.personal__form-right {
  display: none;
}
.personal__form-right.active {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.personal__top {
  width: 100%;
  height: 160px;
  background: linear-gradient(
    180deg,
    #35b18e 0%,
    rgba(43, 133, 108, 0.65) 100%
  );
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.personal__top-item {
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal__top-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px;
  align-items: center;
}
.personal__top-title {
  color: #c2c6d7;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}
.personal__top-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}
.personal__left-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.personal__left-item {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.personal__left-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #c2c6d7;
  transition: all 0.3s ease-in-out;
}
.personal__left-title.active {
  color: #ffffff;
  opacity: 1;
}
.personal__left-title:hover {
  opacity: 0.5;
}
.personal__left-item img {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.personal__left-item.active img {
  opacity: 1;
}
.personal__left-item:hover img {
  opacity: 0.5;
}

.personal__top_type_dlack {
  background: transparent;
}
.personal__top-item_type_dlack {
  width: 233px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal__top-title_type_dlack {
  color: #35b18e;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
}
.personal__left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 162px;
  height: 37px;
  background: linear-gradient(180deg, #35b18e 0%, rgba(53, 177, 142, 0.3) 100%);
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.personal__left-button:hover {
  opacity: 0.5;
}
.personal__input {
  width: 207px;
  height: 30px;
  font-size: 16px;
  line-height: 19px;
}
.personal__input::placeholder {
  color: #c2c6d7;
}
.type-subscription {
  max-width: 952px;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 15px;
}
.personal__subscription {
  width: 223px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #19191d, #19191d),
    linear-gradient(
      180deg,
      rgba(0, 190, 136, 0.5) 0%,
      rgba(0, 190, 136, 0) 100%
    );
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  height: 100%;
}
.personal__subscription-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #c2c6d7;
}
.type-green {
  font-weight: 700;
  color: #35b18e;
}

.personal__subscription-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal__subscription-data span {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #c2c6d7;
}
.personal-b2 {
  height: 117px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.personal__subscription-title-b {
  margin: 8px;
}

.personal-b {
  background: linear-gradient(0deg, #19191d, #19191d),
    linear-gradient(
      180deg,
      rgba(0, 190, 136, 0.5) 0%,
      rgba(0, 190, 136, 0.463542) 7.29%,
      rgba(0, 190, 136, 0) 100%
    );
}
.type-subscription-b {
  max-width: 687px;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 15px;
}
.personal__form-right-b {
  margin-left: auto;
}
