.promo {
  width: 100%;
  padding-top: 88px;
}
.promo__wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../images/dbg.png);
  border-bottom: 0.8px solid #191a22;
}
.promo__inner {
  display: flex;
}
.promo__top {
  width: 100%;
  margin-top: 278px;
  margin-bottom: 50px;
}
.promo__top-item {
  display: flex;
  flex-direction: column;
}
.promo__img-box {
  display: flex;
  gap: 14px;
  align-items: flex-end;
}
.promo__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 38.55px;
  line-height: 46.2px;
  color: #ffffff;
  letter-spacing: -0.84px;
}
.promo__list {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
}
.promo__subtitle {
  font-weight: 400;
  font-size: 14.25px;
  line-height: 24px;
  color: #9296a9;
}
.shop {
  width: 100%;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shop__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shop__container-span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14.38px;
  line-height: 18.4px;
  color: #9296a9;
  margin-top: 30px;
}
.shop__container {
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  margin: 50px auto 80px;
}
/*card-item-shop*/
.card-item-shop {
  cursor: pointer;
  width: 429px;
  height: 251.6px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.card-item-label {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 0 0 12px 12px;
  gap: 3px;
}
.cheat-name {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15.5px;
  line-height: 19px;
  color: #ffffff;
}
.card-label-shop {
  width: 25px;
  height: 25px;
}
.card-text-box-shop {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
  box-sizing: border-box;
  background: transparent;
  z-index: 6;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.card-text-info-shop {
  width: 216.15px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.undetected {
  position: absolute;
  top: 15px;
  left: 20px;
  border-radius: 4px;
}
.cheat-game-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9296a9;
}
